"$schema" = "https://json.schemastore.org/chezmoi.json"
# ~/.config/chezmoi/chezmoi.toml

{{- $is_wsl := false -}}
{{- if and .chezmoi.kernel (hasKey .chezmoi.kernel "osrelease") -}}
{{- $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- end -}}

{{- $chassisType := (output "hostnamectl" "--json=short" | fromJson).Chassis }}

{{- if eq .chezmoi.os "windows" }}
	# Windows
{{- else if eq .chezmoi.os "linux" }}
	# All linux
{{- end }}

{{- if eq .chezmoi.osRelease.id "omarchy" }}
	# Omarchy
{{- else if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
	# WSL
{{- end }}

[env]
# Configure environment variables
{{- if eq .chezmoi.os "windows" }}
	XDG_DATA_HOME = "{{ .chezmoi.homeDir }}/.local/share"
	XDG_CONFIG_HOME = "{{ .chezmoi.homeDir }}/.config"
	XDG_STATE_HOME = "{{ .chezmoi.homeDir }}/.local/state"
	XDG_CACHE_HOME = "{{ .chezmoi.homeDir }}/.cache"
{{- end }}

[data]
	{{ if eq .chezmoi.os "linux" -}} bws_access_token = {{ output "secret-tool" "lookup" "BWS_ACCESS" "TOKEN" | quote }} {{- end }}

[edit]
	command = "code"
	args = ["--wait"]

[diff]
	pager = "delta"

[merge]
	command = "meld"
