# ~/.config/chezmoi/chezmoi.toml

{{- if eq .chezmoi.osRelease.id "omarchy" }}
    # omarchy
{{- else if eq .chezmoi.os "windows" }}
    # windows
{{- else if (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
    # wsl
{{- end }}

[data]

[env]
# Configure environment variables
{{- if eq .chezmoi.os "windows" }}
    XDG_DATA_HOME={{ .chezmoi.homeDir }}/.local/share
    XDG_CONFIG_HOME={{ .chezmoi.homeDir }}/.config
    XDG_STATE_HOME={{ .chezmoi.homeDir }}/.local/state
    XDG_CACHE_HOME={{ .chezmoi.homeDir }}/.cache
{{- end }}

{{- if eq .chezmoi.osRelease.id "omarchy" }}
    GITHUB_TOKEN={{ (bitwarden "item" "githubProfile Token").notes | quote }}
{{- end }}

[bitwarden]
    unlock = "auto"

[edit]
    command = "code"
    args = ["--wait"]
