#!{{ lookPath "bash" }}
{{- if eq .chezmoi.osRelease.id "omarchy" }}
{{ template "bashrc-omarchy.sh" . }}
{{ end -}}

PATH="{{ .chezmoi.homeDir }}/bin:$PATH"
export PATH

# Aliases.
if [ -f "{{ .chezmoi.homeDir }}/.bash_aliases" ]; then
    # shellcheck source=/home/bogge/.bash_aliases
	. "{{ .chezmoi.homeDir }}/.bash_aliases"
fi

# .bashrc.d
if [ -d "{{ .chezmoi.homeDir }}/.bashrc.d" ]; then
    for config in "{{ .chezmoi.homeDir }}/.bashrc.d"/*.sh; do
        # shellcheck source=/home/bogge/.bashrc.d/1-bws.sh
        [ -r "$config" ] && source "$config"
    done
fi
