#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
    {{ $shell := "bash" -}}
	{{ range .completions.mise -}}
        {{ $current := . }}
        {{ $file := list "~/.local/share/bash-completion/completions/" $current.name | join "" -}}
        echo "Adding completion for {{ $current.name }}"
        {{ $current.name }} {{ $current.cmd }} {{ $shell }} > {{ $file }}
    {{ end -}}
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
# TODO: Not implemented
    {{ $shell := "powershell" -}}
	{{ range .completions.mise -}}
        {{ $current := . }}
        {{ $file := list "~/.local/share/bash-completion/completions/" $current.name | join "" -}}
        #{{ $current.name }} {{ $current.cmd }} {{ $shell }} > {{ $file }}
    {{ end -}}
{{ end -}}
