{{ if eq .chezmoi.os "linux" }}
    {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        # WSL-specific code
    {{  else if (.chezmoi.kernel.osrelease | lower | eq "omarchy") }}
        # omarchy-specific code
    {{ end }}
{{ end }}
