[Desktop Entry]
Version=1.0
Name=Chezit
Comment=Chezit
Exec=xdg-terminal-exec --app-id=TUI.tile -e chezit
Terminal=false
Type=Application
Icon=chezit
StartupNotify=true
