#!{{ lookPath "bash" }}

{{ $ext := output "code" "--list-extensions" | splitList "\n"  }}

🧑‍💻 Installing Common VS Code extensions 🧩
{{ range .extensions.vscode.all -}}
{{- if mustHas . $ext }}
   ✅ {{ . }}
{{- else }}
   📦 {{ . }}...
   code --install-extension {{ . | quote }}
{{- end }}
{{- end }}

{{ if eq .chezmoi.os "linux" }}
🧑‍💻 Installing Linux VS Code extensions 🧩
{{ range .extensions.vscode.linux -}}
{{- if mustHas . $ext }}
   ✅ {{ . }}
{{- else }}
   📦 {{ . }}...
   code --install-extension {{ . | quote }}
{{- end }}
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "windows" }}
🧑‍💻 Installing Windows VS Code extensions 🧩
{{ range .extensions.vscode.windows -}}
{{- if mustHas . $ext }}
   ✅ {{ . }}
{{- else }}
   📦 {{ . }}...
   code --install-extension {{ . | quote }}
{{- end }}
{{- end }}
{{- end }}
